In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=ff07ad6d069453dd980b6fa98345b81602858765323855f484d78dfe0f65b489
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [ ]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [ ]:
appName='lab11'
master="local[*]"
conf = SparkConf().setAppName(appName).setMaster(master)

In [ ]:
import pandas as pd
import pyspark.sql as ps
from pyspark.sql.functions import length, col, collect_list, substring

In [ ]:
df=spark.read.csv('Movies.csv', header=True)

In [ ]:
df.show()

+----+------+--------------------+-------+--------------------+-----------------+--------------------+----------+------+-------------------+
|Year|Length|               Title|  Genre|               Actor|          Actress|            Director|Popularity|Awards|              Image|
+----+------+--------------------+-------+--------------------+-----------------+--------------------+----------+------+-------------------+
|1990|   111|Tie Me Up! Tie Me...| Comedy|     BanderasAntonio|    AbrilVictoria|      AlmodóvarPedro|        68|    No|   NicholasCage.png|
|1991|   113|          High Heels| Comedy|          BoséMiguel|    AbrilVictoria|      AlmodóvarPedro|        68|    No|   NicholasCage.png|
|1983|   104|        Dead ZoneThe| Horror|   WalkenChristopher|      AdamsBrooke|     CronenbergDavid|        79|    No|   NicholasCage.png|
|1979|   122|                Cuba| Action|         ConnerySean|      AdamsBrooke|       LesterRichard|         6|    No|    seanConnery.png|
|1978|    94|      Days of Heaven|  Drama|         GereRichard|      AdamsBrooke|      MalickTerrence|        14|    No|   NicholasCage.png|
|1983|   140|           Octopussy| Action|          MooreRoger|        AdamsMaud|            GlenJohn|        68|    No|   NicholasCage.png|
|1984|   101|        Target Eagle| Action|        ConnorsChuck|        AdamsMaud|LomaJosé Antonio ...|        14|    No|   NicholasCage.png|
|1989|    99|American Angels: ...|  Drama|     BergenRobert D.|       AdamsTrudy|    SebastianBeverly|        28|    No|   NicholasCage.png|
|1985|   104|              Subway|  Drama|  LambertChristopher|   AdjaniIsabelle|           BessonLuc|         6|    No|   NicholasCage.png|
|1990|   149|     Camille Claudel|  Drama|     DepardieuGérard|   AdjaniIsabelle|        NuyttenBruno|        32|    No|   NicholasCage.png|
|1982|   188| Fanny and Alexander|  Drama|       AhlstedtBörje|AdolphsonKristina|       BergmanIngmar|        81|   Yes|        Bergman.png|
|1982|   117|Tragedy of a Ridi...|  Drama|         TognazziUgo|       AimeeAnouk|  BertolucciBernardo|        17|    No|   NicholasCage.png|
|1966|   103|     A Man & a Woman|  Drama|TrintignantJean-L...|       AimeeAnouk|       LelouchClaude|        46|   Yes|   NicholasCage.png|
|1986|   112|A Man & a Woman: ...|  Drama|TrintignantJean-L...|       AimeeAnouk|       LelouchClaude|        49|    No|   NicholasCage.png|
|1966|   103|Un Hombre y una M...|  Drama|TrintignantJean-L...|       AimeeAnouk|       LelouchClaude|         6|   Yes|   NicholasCage.png|
|1985|   112|   Official StoryThe|  Drama|       AlterioHector|    AleandroNorma|          PuenzoLuiz|        39|   Yes|   NicholasCage.png|
|1976|   150|Lindbergh Kidnapp...|  Drama|      HopkinsAnthony|  AlexanderDenise|           KulikBuzz|        51|    No| AnthonyHopkins.png|
|1929|    84|           Blackmail|Mystery|         LongdenJohn|       AlgoodSara|     HitchcockAlfred|         2|    No|alfredHitchcock.png|
|1963|   109|      Donovan's Reef| Comedy|           WayneJohn|   AllenElizabeth|            FordJohn|        62|    No|      johnWayne.png|
|1988|   110|Tucker: The Man &...|  Drama|         BridgesJeff|        AllenJoan| CoppolaFrancis Ford|        68|    No|   NicholasCage.png|
+----+------+--------------------+-------+--------------------+-----------------+--------------------+----------+------+-------------------+
only showing top 20 rows

In [ ]:
#Q1
df.filter(df.Awards=='Yes').filter(df.Genre=='Action').select("Title","Year","Director").show()

+-----+----+--------+
|Title|Year|Director|
+-----+----+--------+
+-----+----+--------+

In [ ]:
#Q2
df.filter(df.Awards=='Yes').select("Actor","Title","Director").show()

+--------------------+--------------------+-------------------+
|               Actor|               Title|           Director|
+--------------------+--------------------+-------------------+
|       AhlstedtBörje| Fanny and Alexander|      BergmanIngmar|
|TrintignantJean-L...|     A Man & a Woman|      LelouchClaude|
|TrintignantJean-L...|Un Hombre y una M...|      LelouchClaude|
|       AlterioHector|   Official StoryThe|         PuenzoLuiz|
|      SjöströmVictor|   Wild Strawberries|      BergmanIngmar|
|   BjörnstrandGunnar|Through a Glass D...|      BergmanIngmar|
|     JosephsonErland|    Cries & Whispers|      BergmanIngmar|
|  PlummerChristopher|   Sound of MusicThe|         WiseRobert|
| LaFontJean-Philippe|     Babette's Feast|        AxelGabriel|
|        BalsamMartin|Murder on the Ori...|        LumetSidney|
|      HopkinsAnthony|     Elephant ManThe|         LynchDavid|
|          WallaceDee|E. T. The Extra-T...|    SpielbergSteven|
|           CaanJames|              Misery|          ReinerRob|
|         KingsleyBen|              Gandhi|AttenboroughRichard|
|         BjörkHalvar|       Autumn Sonata|      BergmanIngmar|
|        BoyerCharles|            Gaslight|        CukorGeorge|
|           BeattyNed|A Woman Called Golda|         GibsonAlan|
|        TamiroffAkim|           Anastasia|      LitvakAnatole|
|       MatthauWalter|       Cactus Flower|           SaksGene|
|    AbrahamF. Murray|             Amadeus|        FormanMilos|
+--------------------+--------------------+-------------------+
only showing top 20 rows

In [ ]:
#Q3
df.filter(df.Awards=='No').sort(df.Popularity.desc()).select("Title").limit(10).show()

+--------------------+
|               Title|
+--------------------+
|        Tango & Cash|
|              Plenty|
|Masque of the Red...|
|           Lionheart|
|        Judge Priest|
|           Dead-Bang|
|       Basil The Rat|
|               Glitz|
|            Morituri|
|Naked Gun: From t...|
+--------------------+

In [ ]:
#Q4
df.filter(df.Year<=1980).sort(df.Popularity.asc()).select("Title").limit(10).show()

+------------------+
|             Title|
+------------------+
|   White Lightning|
|      Desert Rider|
|      Drop KickThe|
| Bank on the Stars|
|Shout at the Devil|
|      It's My Turn|
|           Shalako|
|     Anna Christie|
|           Airport|
| Tales of Tomorrow|
+------------------+

In [ ]:
#Q5
df.groupBy(df.Genre).agg(ps.functions.avg(df.Length).alias('Average Length of Movies')).show()

+---------------+------------------------+
|          Genre|Average Length of Movies|
+---------------+------------------------+
|          Crime|                    66.0|
|        Romance|                   127.0|
|      Adventure|                   119.0|
|           null|                   120.5|
|          Drama|      113.30455259026688|
|            War|               116.90625|
|        Fantasy|                   102.0|
|        Mystery|      103.00990099009901|
|          Music|      100.48780487804878|
|Science Fiction|      106.47368421052632|
|         Horror|       93.92727272727272|
|          Short|                    40.0|
|        Western|        93.0091743119266|
|         Comedy|       96.50540540540541|
|         Action|                   104.5|
|       Westerns|                   124.8|
+---------------+------------------------+

In [ ]:
from pyspark.sql.functions import count,when

In [ ]:
#Q6
df.filter(col("Genre") == "Comedy") \
  .groupBy("Actor", "Actress") \
  .agg(count("*").alias("count")) \
  .filter(col("count") > 3) \
  .filter(col("Actress")!='null')\
  .show()

+------------+----------------+-----+
|       Actor|         Actress|count|
+------------+----------------+-----+
|TracySpencer|HepburnKatharine|    6|
|  AllenWoody|     KeatonDiane|    5|
+------------+----------------+-----+

In [ ]:
#Q7
df.where((col('Genre') == 'Comedy') & (col('Genre') == 'Drama')) \
  .select(col('Actor')) \
  .show()

+-----+
|Actor|
+-----+
+-----+

In [ ]:
#Q8
df.where((col('Genre') == 'Comedy') | (col('Genre') == 'Drama')) \
  .select(col('Actor')) \
  .show()

+--------------------+
|               Actor|
+--------------------+
|     BanderasAntonio|
|          BoséMiguel|
|         GereRichard|
|     BergenRobert D.|
|  LambertChristopher|
|     DepardieuGérard|
|       AhlstedtBörje|
|         TognazziUgo|
|TrintignantJean-L...|
|TrintignantJean-L...|
|TrintignantJean-L...|
|       AlterioHector|
|      HopkinsAnthony|
|           WayneJohn|
|         BridgesJeff|
|          MurrayBill|
|            PennSean|
|         CageNicolas|
|       AndersonKevin|
|          NewmanPaul|
+--------------------+
only showing top 20 rows

In [ ]:
#Q9
df.select(df.Actor) \
  .where(df.Genre!='Comedy').show()

+--------------------+
|               Actor|
+--------------------+
|   WalkenChristopher|
|         ConnerySean|
|         GereRichard|
|          MooreRoger|
|        ConnorsChuck|
|     BergenRobert D.|
|  LambertChristopher|
|     DepardieuGérard|
|       AhlstedtBörje|
|         TognazziUgo|
|TrintignantJean-L...|
|TrintignantJean-L...|
|TrintignantJean-L...|
|       AlterioHector|
|      HopkinsAnthony|
|         LongdenJohn|
|         BridgesJeff|
|        FordHarrison|
|SchwarzeneggerArnold|
|         GloverDanny|
+--------------------+
only showing top 20 rows

In [ ]:
#Q10
from pyspark.sql.functions import min,max,avg
df.groupBy("Actor") \
  .agg(min("Popularity").alias("min"), \
  max("Popularity").alias("max"), \
  avg("Popularity").alias("avg")) \
  .filter(df.Actor!='null') \
  .show()

+------------------+---+---+-----------------+
|             Actor|min|max|              avg|
+------------------+---+---+-----------------+
|        AbelAlfred| 49| 49|             49.0|
|  AbrahamF. Murray|  6|  6|              6.0|
|    AdolphsonEdvin| 26| 72|             49.0|
|       AherneBrian| 57| 57|             57.0|
|     AhlstedtBörje| 81| 81|             81.0|
|       AielloDanny| 20|  5|             12.5|
|         AkanTarik| 53| 53|             53.0|
|    AlbaicínRafael| 55| 55|             55.0|
|      AlbertEdward| 82| 82|             82.0|
|          AldaAlan| 12| 53|             32.5|
|         AllenBill| 75| 75|             75.0|
|        AllenWoody| 12| 84|51.27272727272727|
|     AlterioHector| 39| 39|             39.0|
|         AmecheDon| 45| 45|             45.0|
|     AndersonKevin| 53| 53|             53.0|
|   AnderssonWiktor| 66| 66|             66.0|
|AngladeJean-Hughes| 71| 71|             71.0|
|       AnneseFrank| 45| 45|             45.0|
|        ApfelOscar| 66| 66|             66.0|
|     ArestrupNiels| 74| 74|             74.0|
+------------------+---+---+-----------------+
only showing top 20 rows

In [ ]:
#Q11
from pyspark.sql.functions import floor
df.where(df.Year>=1960) \
  .withColumn("decade", floor(df.Year/10)*10) \
  .groupBy("decade") \
  .agg(count("*").alias("count")) \
  .sort("decade") \
  .show()

+------+-----+
|decade|count|
+------+-----+
|  1960|  154|
|  1970|  244|
|  1980|  607|
|  1990|  345|
+------+-----+

In [ ]:
#Q12
df.groupBy("Year")\
  .agg(count("*").alias('count'))\
  .show()

+----+-----+
|Year|count|
+----+-----+
|1953|   16|
|1957|   16|
|1987|  102|
|1956|   15|
|1936|    6|
|1958|   12|
|1943|    8|
|1972|   24|
|1931|    9|
|1988|   96|
|1926|    4|
|1938|    8|
|1932|    8|
|1977|   29|
|1971|   23|
|1984|   38|
|1982|   37|
|1941|    7|
|1965|   12|
|1962|   15|
+----+-----+
only showing top 20 rows

In [ ]:
#Q13
df.filter(df.Length>100)\
  .groupBy("Year","Genre")\
  .agg(count("*").alias('count'))\
  .show()

+----+---------------+-----+
|Year|          Genre|count|
+----+---------------+-----+
|1984|         Comedy|    4|
|1967|          Drama|    3|
|1958|          Drama|    3|
|1968|          Music|    1|
|1990|        Mystery|    4|
|1992|      Adventure|    1|
|1933|          Drama|    1|
|1982|Science Fiction|    1|
|1978|Science Fiction|    1|
|1951|            War|    1|
|1964|       Westerns|    1|
|1988|         Action|    3|
|1975|         Action|    4|
|1992|          Drama|   18|
|1969|        Western|    5|
|1951|        Mystery|    1|
|1962|        Mystery|    1|
|1950|        Mystery|    1|
|1980|        Mystery|    1|
|1990|        Western|    1|
+----+---------------+-----+
only showing top 20 rows

In [ ]:
#Q14
df.where(df.Year<1990)\
  .sort(df.Title)\
  .show()

+----+------+--------------------+---------------+--------------------+-----------------+-------------------+----------+------+-------------------+
|Year|Length|               Title|          Genre|               Actor|          Actress|           Director|Popularity|Awards|              Image|
+----+------+--------------------+---------------+--------------------+-----------------+-------------------+----------+------+-------------------+
|1968|   139|2001: A Space Ody...|Science Fiction|          DulleaKeir|   TyzackMargaret|     KubrickStanley|        83|    No|   NicholasCage.png|
|1982|    92|             48 Hrs.|         Action|           NolteNick|   O'TooleAnnette|         HillWalter|        67|    No|   NicholasCage.png|
|1963|   138|               8 1/2|          Drama| MastroianniMarcello| CardinaleClaudia|    FelliniFederico|        80|   Yes|   NicholasCage.png|
|1966|    95|A Big Hand for th...|         Comedy|          FondaHenry|   WoodwardJoanne|        CookFielder|        12|    No|   NicholasCage.png|
|1962|   105|  A Child Is Waiting|          Drama|       LancasterBurt|      GarlandJudy|     CassavetesJohn|        60|    No|  burtLancaster.png|
|1985|   118|A Chorus LineThe ...|          Music|      DouglasMichael|    LandersAudrey|AttenboroughRichard|        71|    No|   NicholasCage.png|
|1971|   138|  A Clockwork Orange|Science Fiction|     McDowellMalcolm|             null|     KubrickStanley|        83|   Yes|   NicholasCage.png|
|1967|   100|A Coeur Joie(Head...|         Action|     TerzieffLaurent|   BardotBrigitte|   BourguignonSerge|        54|    No| brigitteBardot.png|
|1988|   122|   A Cry in the Dark|          Drama|            NeillSam|      StreepMeryl|       SchepisiFred|        67|    No|    merylStreep.png|
|1989|    97|  A Dry White Season|          Drama|    SutherlandDonald|    SarandonSusan|        PalcyEuzhan|        71|    No|   NicholasCage.png|
|1966|   104|      A Fine Madness|         Comedy|         ConnerySean|   WoodwardJoanne|      KershnerIrvin|         6|    No|    seanConnery.png|
|1988|   108| A Fish Called Wanda|         Comedy|          CleeseJohn|  CurtisJamie Lee|    CrichtonCharles|         7|   Yes|   NicholasCage.png|
|1964|   102|A Fistful of Dollars|       Westerns|       EastwoodClint|VolonteGian Maria|        LeoneSergio|        61|    No|  clintEastwood.png|
|1943|  null|     A Guy Named Joe|          Drama|        TracySpencer|       DunneIrene|      FlemingVictor|        42|    No|   spencerTracy.png|
|1954|    96|    A Lesson in Love|         Comedy|   BjörnstrandGunnar|      DahlbeckEva|      BergmanIngmar|        48|    No|        Bergman.png|
|1977|   110|A Little Night Music|          Music|           CariouLen|  TaylorElizabeth|       PrinceHarold|        61|    No|elizabethTaylor.png|
|1966|   103|     A Man & a Woman|          Drama|TrintignantJean-L...|       AimeeAnouk|      LelouchClaude|        46|   Yes|   NicholasCage.png|
|1986|   112|A Man & a Woman: ...|          Drama|TrintignantJean-L...|       AimeeAnouk|      LelouchClaude|        49|    No|   NicholasCage.png|
|1966|   120|A Man for All Sea...|          Drama|          ShawRobert|      HillerWendy|      ZinnemannFred|        20|   Yes|   NicholasCage.png|
|1976|    97|    A Matter of Time|          Drama|        BoyerCharles|     MinnelliLiza|   MinnelliVincente|        70|    No|   NicholasCage.png|
+----+------+--------------------+---------------+--------------------+-----------------+-------------------+----------+------+-------------------+
only showing top 20 rows

In [ ]:
#Q15
df.where(length(df.Title)>50).show()

+----+------+--------------------+------+----------+--------------+--------+----------+------+----------------+
|Year|Length|               Title| Genre|     Actor|       Actress|Director|Popularity|Awards|           Image|
+----+------+--------------------+------+----------+--------------+--------+----------+------+----------------+
|1979|    90|Fawlty TowersGour...|Comedy|CleeseJohn|ScalesPrunella|    null|        46|    No|NicholasCage.png|
+----+------+--------------------+------+----------+--------------+--------+----------+------+----------------+